html, body, .container {
	min-width: 400px;
	width: auto!important;
}

#sector1 {
	margin-top:50px;
}


#myList {
	margin-top: 20px;
	width: 50%;
}

#myList li {
	padding: 20px;
}

#myList li:hover {
	/* Use important so hover continues after click */
	background-color: #eee!important; 
}



#myText {
	width: 50%;
	margin-bottom: 10px;
}

#myComment {
	width: 50%;
	margin-bottom: 20px;
}

li i {
	float: right;
	/*display: inline-block;*/
}

li h4 {
	display: inline-block;
	/*width: 80%;*/
}